
@main("Home", "MIMP", "Assessing the impact of single nucleotide variants on kinase-substrate phosphorylation") {


<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Kinase rewiring. <span class="text-muted">Prediction of loss and gain of signaling</span></h2>
          <p class="lead">
          MIMP predicts loss and gains of kinase-substrate phosphorylation
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="@routes.Assets.at("images/fig1.png")" alt="500x500">
        </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
        
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="@routes.Assets.at("images/fig2.jpg")" alt="500x500">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Second featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">MIMP features over 300 kinase specifcity models, which are refined to 
          remove sequences not matching the general motif to improve prediction power</p>
        </div>
</div>

}
