@(job: Scan)

@main("Scan", "Scan", "Scan complete, see results below") {
		
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("datatable/main.css")">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("datatable/DT_bootstrap.css")">
		
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("datatable/jquery.dataTables.js")"></script>
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("datatable/DT_bootstrap.js")"></script>
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("javascripts/jquery.zoom.min.js")"></script>

		<style>
			td
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
			.tooltip-inner {
    max-width: 200px;
    /* If max-width does not work, try using width instead */
    width: 200px; 
}
			.table-tooltip{
				color: #333;
			}
			.table-tooltip:hover{
				color: black;
			}
			.path{
				opacity:0.8;
			}
			.wt-score, .mt-score{
				color: #18bc9c;
				cursor: pointer; cursor: hand;
			}

			#loss-label, #gain-label{
				cursor: pointer; cursor: hand;
			}
			.modal.modal-wide .modal-dialog {
			  width: 660px;
			}
			.modal-wide .modal-body {
			  overflow-y: auto;
			}
			table {
		   	width: 200px; /*specify a width*/
		   		table-layout:fixed;
			}
			.alert-box{
				display:none;
			}

			div.row{
				margin-bottom:5px;
			}
			
			
			thead tr th:nth-child(9){
				display:none;
			}
			tbody tr td:nth-child(9){
				display:none;
			}
			thead tr th:nth-child(8){
				display:none;
			}
			tbody tr td:nth-child(8){
				display:none;
			}
			thead tr th:nth-child(4){
				display:none;
			}
			tbody tr td:nth-child(4){
				display:none;
			}
			

</style>
	<div id="result-wrap">
		<div class="bs-callout bs-callout-info" id="info-msg-div">
			<h4 id="info-msg"></h4>
		</div>
	
		<div style="margin-bottom: 35px">
			<!--<center>-->
			<span id="loss-label" class="label label-danger">Loss <span class="badge" id="loss-badge">0</span></span>
			<span id="gain-label" class="label label-success">Gain <span class="badge" id="gain-badge">0</span></span>
			<span class="label label-default">Mutations <span class="badge" id="mut-badge">0</span></span>
			<!--</center>-->

			<div class="pull-right">

			<a target="_blank" class="label label-primary" href="@routes.Application.getFile(job.job_id, "results.txt", "mimp_results.tsv")">Download results</a>
			<a class="label label-primary" href="/scan">Start over</a>

			</div>
		</div>
		
		<div id="logo-zoom" style="display:none;position: fixed; z-index: 3; border: 2px solid #555">
			<img src="" style="width:700px;background-color: white; "/>
		</div>
		<table class="table table-striped table-bordered" id="example" width="">
		    <thead>
		        <tr>
		            <th width="8%">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Gene containing the phosphorylation site">Gene</a>
		            </th>
		            
		            <th width="7%">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Position of the phosphorylation site on the protein sequence">Pos</a>
	            	</th>
	            	
		            <th width="7%">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Mutation affecting the phosphorylation site">Mut</a>
		            </th>
		            
		            <th width="0%">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Distance from the central phosphorylated residue">Dist</a>
	            	</th>
	            	
		            <th width="17%">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Sequence of the ±7 residues around the phosphorylated residue">Psite sequence</a>
	            	</th>
	            	
		            <th width="9%">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Score of the kinase model against the wild type sequence. Click the score for more details!">Score wt</a>
	            	</th>
	            	
		            <th width="9%">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Score of the kinase model against the mutated sequence. Click the score for more details!">Score mt</a>
	            	</th>
	            	
		            <th width="0%">
	            		<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Percentile of wt score in the foreground (loss event) or background (gain) distribution. ">Perc wt</a>
            		</th>
            		
		            <th width="0%">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Percentile of mt score in the foreground (loss event) or background (gain) distribution">Perc mt</a>
		            </th>
		            
		            <th width="10%">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Log2 ratio between mutant and wild type scores">Log ratio</a>
		            </th>
		            
		            <th width="7%">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Type of rewiring event. Can be loss or gain.">Effect</a>
            		</th>
            		
		            <th width="28%">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Sequence logo of the kinase rewiried.">Sequence logo</a>
	            	</th>
		        </tr>
		    </thead>
		    <tbody id="table-body">
				@Html(job.html)
		    </tbody>
		</table>
	
	</div>

	



	<link type="text/css" rel="stylesheet" href="@routes.Assets.at("javascripts/plot/graph.css")">
	<link type="text/css" rel="stylesheet" href="@routes.Assets.at("javascripts/plot/detail.css")">
	<link type="text/css" rel="stylesheet" href="@routes.Assets.at("javascripts/plot/legend.css")">
	<link type="text/css" rel="stylesheet" href="@routes.Assets.at("javascripts/plot/lines.css")">

	<script src="@routes.Assets.at("javascripts/plot/d3.v3.js")"></script>
	<script src="@routes.Assets.at("javascripts/plot/rickshaw.js")"></script>


	<!-- Modal -->
	<div class="modal fade modal-wide" id="chart-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <div id="chart">

	        </div>
	        
	        <center>
	        	<img id='modal-legend' src="@routes.Assets.at("images/hist_legend.svg")" style="height:20px; margin-top:5px; margin-bottom: 10px">
			</center>
	        
	        <table class="table table-striped table-bordered">
	        	<thead>
		        <tr>
		            <th width="35%">Psite sequence</th>
		            <th width="20%">Score wt</th>
		            <th width="20%">Score mt</th>
		            <th width="15%">Log ratio</th>
		            <th width="10%">Effect</th>
		        </tr>
		    </thead>
		    <tbody id="modal-table-body">
				<tr>
					<td id="modal-seq"></td>
					<td id="modal-score-wt"></td>
					<td id="modal-score-mt"></td>
					<td id="modal-log-ratio"></td>
					<td id="modal-effect"></td>
				</tr>
		    </tbody>
	        </table>

			
	        <br>
	        <center>
	        <img src="" id="modal-logo" alt="Modal sequence logo" style="width:75%"/>
	        </center>
	        

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<script>
		
		addLine = function(graph, x, col){
			var svg = d3.select("svg");

			var myLine = svg.append("svg:line")
			    .attr("x1", graph.x(x))
			    .attr("y1", graph.y(0))
			    .attr("x2", graph.x(x))
			    .attr("y2", graph.y(100))
			    .style("stroke", col)
			    .style("stroke-width", 2.5);
			return myLine;
		}

		var updateZoom = function(x){
				console.log('Zoom updated');
				r = $('img.logo');
				
				r.wrap('<span id="logo-wrap" style="display:inline-block;"></span>')
					.css('display', 'block')
					.parent()
					.zoom({
					    onZoomIn: function(){
						    $(this).siblings().css('visibility', 'hidden');
					    },
					    onZoomOut: function(){
						    $(this).siblings().css('visibility', 'visible');
					    }
					});
				
			}

		update = function(x){
			$( ".wt-score, .mt-score" ).click(function(){
				row = $(this).parents('tr');
				gene = row.find('.gene-name').text();
				mut = row.find('.mut-abbr').text();
				seq = row.find('.sequence').html();
				log = row.find('.log-ratio').text();
				eff = row.find('.effect').html();

				wt_score = +row.find('.wt-score').text();
				mt_score = +row.find('.mt-score').text();

				pwm = row.find('.seq-logo .name').text();
				pwm_src = row.find('.seq-logo .logo').attr('src');

				wt_dist = wt_score > mt_score ? "FG" : "BG";
				mt_dist = mt_score > wt_score ? "FG" : "BG";

				wt_perc = (+row.find('.wt-perc').text() * 100).toFixed(2);
				mt_perc = (+row.find('.mt-perc').text() * 100).toFixed(2);

				wt_score_p = wt_score + "<br>" + "<small>(" + wt_perc + "% " + wt_dist + ")</small>";
				mt_score_p = mt_score + "<br>" + "<small>(" + mt_perc + "% " + mt_dist + ")</small>";

				console.log(pwm);

				$('#modal-title').text(gene + " " + mut);

				$('#modal-seq').html(seq);
				$('#modal-score-wt').html(wt_score_p);
				$('#modal-score-mt').html(mt_score_p);
				$('#modal-log-ratio').text(log);
				$('#modal-effect').html(eff);

				$('#modal-logo').attr('src', pwm_src);

				$.getJSON('/assets/R/generate_data/density@if(job.fam_models == "on"){_fam}/'+pwm+'.json',function(data){
        
		        $('#chart').empty();
		        var graph = new Rickshaw.Graph( {
		            element: document.getElementById("chart"),
		            width: 600,
		            height: 250,
		            renderer: 'line',
		            fill: true,
		            stroke: true,
		            series: [
		              {
		                color: "#7f8c8d",
		                data: data[0],
		                name: 'Background',
		                stroke: "#000000",
		            	opacity: 0.5
		              }, {
		                color: "#2c3e50",
		                data: data[1],
		                name: 'Foreground',
		            	opacity: 0.5
		              }
		            ]
		          } );
		          graph.renderer.unstack = true;
		          graph.render();

		          var xaxes = new Rickshaw.Graph.Axis.X( {
		            graph: graph
		          } );
		          xaxes.render();

		          c = cutoffs[pwm]

		          addLine(graph, c.bg, '#2980b9');
		          addLine(graph, c.fg, '#8e44ad');
		          addLine(graph, wt_score, 'green');
		          addLine(graph, mt_score, 'red');

				  $('#chart-modal').modal();
		      
		      	});

			});//End click
			
			$('#table-body tr').each( function( index, element ){
			    x = $( this );
			    dist = x.find('.mut-dist').text();
				kin = x.find('.seq-logo .name').text();
				@if(job.fam_models != "no"){
					folder = 'logos_fam_rect'
				}else{
					folder = 'logos_rect';
				}
				logoRect = '/assets/images/'+folder+'/'+ kin + '_' + dist + '.png';
				x.find('.seq-logo img').attr('src', logoRect)
			});

		}

		$(document).ready(function(){
			
			//updateZoom();
			
			//x = $([0]);
			
			
			// Add update callback, since data table not created here
			oTable = $('.dataTable').dataTable();
			oTable.fnSettings().aoDrawCallback.push( {
			    "fn": function( oSettings ) { console.log( 'DataTables has redrawn the table' ); update(); },
			    "sName": "user"
			} );
			
			if($('.dataTable').length == 0){
				$('#example').dataTable( {
					"sDom": "<'row'<'.col-md-6'l><'.col-md-6'f>r>t<'row'<'.col-md-6'i><'.col-md-6'p>>",
					"sPaginationType": "bootstrap",
					"oLanguage": {"sLengthMenu": "_MENU_ records per page"},
					"fnDrawCallback": function( oSettings ) { console.log( 'DataTables has redrawn the table' ); update();  }
				} );
			}
			if($('#n_loss').length > 0) $('#loss-badge').text($('#n_loss').text());
			if($('#n_gain').length > 0) $('#gain-badge').text($('#n_gain').text());
			if($('#n_mut').length > 0) $('#mut-badge').text($('#n_mut').text());
				
			// Show only gain or only loss on click of label
			$('#gain-label').click(function(){
				$('#search-input').val('Gain').trigger('keyup.DT');
				$('#search-input').focus();
				$('#search-input').keyup();
			});
			$('#loss-label').click(function(){
				$('#search-input').val('Loss').trigger('keyup.DT');
				$('#search-input').focus();
				$('#search-input').keyup();
			});
			
			window.oTable = $('#example').dataTable();
			$('#search-input').keyup(function() { 
			    val = $('#search-input').val().toLowerCase();
			    if(val == "gain" | val == "loss"){
			    	$('#info-msg-div').show();
			    	rows = oTable.fnSettings().fnRecordsDisplay();
					$('#info-msg').text('Showing ' + rows + ' ' + val + ' events');
			    }else{
			    	$('#info-msg-div').hide();
					$('#info-msg').empty();
			    }
			});
			
			$('#search-input').keyup();
				
			$(document).keydown(function(e){
			    if (e.keyCode == 37) { 
			       console.log( "left pressed" );
			       $('.previous a').click();
			       return false;
			    }
			    if (e.keyCode == 39) { 
			       console.log( "right pressed" );
			       $('.next a').click();
			       return false;
			    }
			});

			//fnShowHide(3);

			update();
			
			//t = $($('img.logo')[0]);
			//t.parents('.seq-logo').css({"background-image":"url(/assets/images/logos_fam//MLK.png)", "background-size":"cover", "background-repeat": "no-repeat"});
			//t.wrap('<div style="width:100%; height:100%; background-image:url(/assets/images/logos_fam//MLK.png); background-size:cover; background-repeat: no-repeat"><div class="dist1"></div></div>');
			//t.wrap('<div class="logo-container"> <div class="logo-navi" style="width:100%; height:100%; background-image:url(/assets/images/logos_fam//MLK.png); background-size:cover; background-repeat: no-repeat"></div> <div class="logo-infoi"></div> </div>')
		});
		
	</script>

	<script src="/assets/jobs/@job.job_id/cutoffs.txt"></script>

}
