
@main("About", "MIMP", "About MIMP") {

  <p>Phosphorylation is a post-translational modification involved in many cellular processes. 
  Aberrant phosphorylation can alter signaling pathways and gene expression. 
  Thus, phosphorylation-related single nucleotide variants (pSNVs) can potentially lead to rewiring of phosphorylation networks. 
  <br><br>
  Mutations IMpact on Phosphorylation (MIMP) is a web service that predicts if a mutation within a phosphorylation site will alter phosphorylation. MIMP works by constructing specificity models for kinases, which are then used to score
  phosphosites containing a mutation before and after the mutation to predict the impact it may have on phosphorylation.</p>

  <h3>Contact</h3>
  If you have any comments, suggestions or would like some help getting started with MIMP feel free to <a href="mailto:gary.bader@@utoronto.ca,juri.reimand@@utoronto.ca,wagih@@ebi.ac.uk?subject=MIMP inquiry">contact us</a>.

  
  <h3>Acknowledgements</h3>
  <p>We gratefully thank the following resources for providing phosphorylation sites and as kinase substrates:</p>
  <ul style="list-style-type: none; margin-left:-20px;">
  <li><a target="_blank" href="http://www.phosphosite.org/"><img alt="PhosphoSitePlus Logo" style="height:40px" src="@routes.Assets.at("images/psiteplus_logo.jpg")"/></a></li>
  <li><a target="_blank" href="http://phospho.elm.eu.org/"><img alt="PhosphoELM Logo" style="height:30px" src="@routes.Assets.at("images/pelm_logo.jpg")"/></a></li>
  <li><a target="_blank" href="http://www.hprd.org/"><img alt="HPRD Logo" style="height:40px" src="@routes.Assets.at("images/hprd_logo.jpg")"/></a></li>
  <!-- <li><a target="_blank" href="http://phosphonetworks.org/"><img alt="PhosphoNetworks Logo" style="height:40px" src="@routes.Assets.at("images/phosphonetworks_logo.jpg")"/></a></li>
   -->
  </ul>
  <h3>Citation</h3>
  <p>If you use MIMP in your work, please cite the following:</p>
  <p class="">Wagih O, Reimand J, Bader GD. MIMP: predicting the impact of mutations on kinase-substrate phosphorylation (2015) <i>Nature Methods</i> <b>12</b>(6):531-3. <br><a target="_blank" href="/assets/nmeth.3396.pdf">Download PDF</a></p>
}
