
@main("Home", "MIMP", "The impact of mutations on kinase-substrate phosphorylation") {


<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Prediction of loss and gain of phosphorylation</span></h2>
          <p class="lead">
          MIMP systematically characterizes genetic variants such as cancer mutations that specifically alter kinase-binding sites in proteins. As these residues are changed in disease mutations, alterations in kinase binding specificity potentially lead to rewiring of kinase-substrate interaction networks
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="@routes.Assets.at("images/fig1.png")" alt="500x500">
        </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
        
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="@routes.Assets.at("images/fig2_new.png")" alt="500x500">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Comprehensive kinase-substrate data</span></h2>
          <p class="lead">MIMP makes use of phosphorylation data for a wide range of kinases to comprehensively predict kinase-rewiring mutations. Kinase spepcificity models are refined to 
          remove sequences not matching the general motif and improve prediction power.</p>
        </div>
</div>

}
