@(job: Scan)

@main("Scan", "Scan", "Scan complete, see results below") {
		
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("datatable/main.css")">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("datatable/DT_bootstrap.css")">
		
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("datatable/jquery.dataTables.js")"></script>
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("datatable/DT_bootstrap.js")"></script>
		<script type="text/javascript" language="javascript" src="@routes.Assets.at("javascripts/jquery.zoom.min.js")"></script>
		
		
		<style>
			td{
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			}
			.tooltip-inner {
			    max-width: 200px;
			    /* If max-width does not work, try using width instead */
			    width: 200px; 
			}
			.table-tooltip{
				color: #333;
			}
			.table-tooltip:hover{
				color: black;
			}
			.path{
				opacity:0.8;
			}
			.wt-score, .mt-score{
				color: #18bc9c;
			}

			#loss-label, #gain-label{
				cursor: pointer; cursor: hand;
			}
			
			.modal.modal-wide .modal-dialog {
			  width: 660px;
			}
			
			.modal-wide .modal-body {
			  overflow-y: auto;
			}
			table {
		   	width: 200px; /*specify a width*/
		   		table-layout:fixed;
			}
			.alert-box{
				display:none;
			}

			div.row{
				margin-bottom:5px;
			}
			
			
			thead tr th:nth-child(9){
				display:none;
			}
			tbody tr td:nth-child(9){
				display:none;
			}
			thead tr th:nth-child(8){
				display:none;
			}
			tbody tr td:nth-child(8){
				display:none;
			}
			thead tr th:nth-child(4){
				display:none;
			}
			tbody tr td:nth-child(4){
				display:none;
			}
			
			.logo{
				/*height:40%;*/
				width:100%;
			
			  -webkit-background-size: cover !important;
			     -moz-background-size: cover !important;
			       -o-background-size: cover !important;
			          background-size: cover !important;
			}
			
			#modal-logo{
				width:90%;
			}
			
			th.xs-width{
				width:20% !important;
			}
			th.sm-width{
				width:30% !important;
			}
			th.md-width{
				width:40% !important;
			}
			th.lg-width{
				width:60% !important;
			}
			th.xl-width{
				width:80% !important;
			}
			th.xxl-width{
				width:100% !important;
			}
			
			td, .psite, .mut, .sequence, .table-tooltip{
			font-size: 16px; font-size: 1.2vw;
			}
</style>


	<div id="result-loader">
		<center>
			
			<h1 id="loading-title" style="margin-top:25%">Loading results <span id="dots">...</span></h1>
			<script>
			var dotspan = document.getElementById('dots');
	        window.setInterval(function(){
	           if(dotspan.textContent == '.....'){
	              dotspan.textContent = '.';
	           }
	           else{
	              dotspan.textContent += '.';
	           }
	        }, 1000);
		</script>
		</center>
	</div>
	
	<div id="result-wrap" class="hide">
		<div class="bs-callout bs-callout-info" id="info-msg-div">
			<h4 id="info-msg"></h4>
		</div>
	
		<div style="margin-bottom: 35px">
			<!--<center>-->
			<span id="loss-label" class="label label-danger">Loss <span class="badge" id="loss-badge">0</span></span>
			<span id="gain-label" class="label label-success">Gain <span class="badge" id="gain-badge">0</span></span>
			<span class="label label-default">Mutations <span class="badge" id="mut-badge">0</span></span>
			<!--</center>-->

			<div class="pull-right">

			<a target="_blank" class="label label-primary" href="@routes.Application.getFile(job.job_id, "results.txt", "mimp_results.tsv")">Download results</a>
			<a class="label label-primary" href="/scan">Start over</a>

			</div>
		</div>
		
		<div id="logo-zoom" style="display:none;position: fixed; z-index: 3; border: 2px solid #555">
			<img src="" style="width:700px;background-color: white; "/>
		</div>
		<table class="table table-striped table-bordered" id="example" width="">
		    <thead>
		        <tr>
		            <th class="sm-width">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Gene containing the phosphorylation site">Gene</a>
		            </th>
		            
		            <th class="xs-width">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Position of the phosphorylation site on the protein sequence">Pos</a>
	            	</th>
	            	
		            <th class="sm-width">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Mutation affecting the phosphorylation site">Mut</a>
		            </th>
		            
		            <th class="sm-width">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Distance from the central phosphorylated residue">Dist</a>
	            	</th>
	            	
		            <th class="lg-width">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Sequence of the ±7 residues around the phosphorylated residue">Psite sequence</a>
	            	</th>
	            	
		            <th class="sm-width">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Score of the kinase model against the wild type sequence. Click the score for more details!">Score wt</a>
	            	</th>
	            	
		            <th  class="sm-width">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Score of the kinase model against the mutated sequence. Click the score for more details!">Score mt</a>
	            	</th>
	            	
		            <th  class="sm-width">
	            		<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Percentile of wt score in the foreground (loss event) or background (gain) distribution. ">Perc wt</a>
            		</th>
            		
		            <th  class="sm-width">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Percentile of mt score in the foreground (loss event) or background (gain) distribution">Perc mt</a>
		            </th>
		            
		            <th  class="sm-width">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Log2 ratio between mutant and wild type scores">Log ratio</a>
		            </th>
		            
		            <th  class="sm-width">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Type of rewiring event. Can be loss or gain.">Effect</a>
            		</th>
            		
		            <th  class="xxl-width">
		            	<a class='table-tooltip' data-toggle="tooltip" data-placement="top" title="Sequence logo of the kinase rewiried.">Sequence logo</a>
	            	</th>
		        </tr>
		    </thead>
		    <tbody id="table-body">
				@Html(job.html)
		    </tbody>
		</table>
		
		<div class="pull-right">
			<a class="label label-primary" onclick="$('#tips-modal').modal()" style="cursor: pointer; cursor: hand;">Tips & tricks</a>
		</div>
	</div>

	



	<link type="text/css" rel="stylesheet" href="@routes.Assets.at("javascripts/plot/graph.css")">
	<link type="text/css" rel="stylesheet" href="@routes.Assets.at("javascripts/plot/detail.css")">
	<link type="text/css" rel="stylesheet" href="@routes.Assets.at("javascripts/plot/legend.css")">
	<link type="text/css" rel="stylesheet" href="@routes.Assets.at("javascripts/plot/lines.css")">

	<script src="@routes.Assets.at("javascripts/plot/d3.v3.js")"></script>
	<script src="@routes.Assets.at("javascripts/plot/rickshaw.js")"></script>

	
	
	
	<!-- Modal -->
	<div class="modal fade modal-wide" id="tips-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="modal-title">Tips & tricks</h4>
	      </div>
	      <div class="modal-body">
	        <ul>
	        	<li>Use your <img src="../../assets/images/left-key.svg" alt="left" width="20px"/> and <img src="../../assets/images/right-key.svg" alt="right" width="20px"/> keys to navigate through pages.</li>
	        	<li>Hover over logos and click the <img src="../../assets/javascripts/intensezoom/img/plus_cursor_sm.png" width="20px"/> to show a zoomed in version of the logo.</li>
				<li>Click on the wild-type or mutant score in the table for a visual representation of where the scores and thresholds fall on the positive and negative distributions</li>
	        	<li>Type in any keywords into the search box to filter the result table. For example, you could type in a kinase name, a mutation, a gene name or a combination of things.</li>
	        	<li>Click the Loss or Gain buttons at the top of the page to filter the table by the event type</li>
	        	<li>Click a column to sort</li>
	        </ul>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
	
	
	<!-- Modal -->
	<div class="modal fade modal-wide" id="chart-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <div id="chart">

	        </div>
	        
	        <center>
	        	<img id='modal-legend' src="@routes.Assets.at("images/hist_legend.svg")" style="height:20px; margin-top:5px; margin-bottom: 10px">
			</center>
	        
	        <table class="table table-striped table-bordered">
	        	<thead>
		        <tr>
		            <th width="35%">Psite sequence</th>
		            <th width="20%">Score wt</th>
		            <th width="20%">Score mt</th>
		            <th width="15%">Log ratio</th>
		            <th width="10%">Effect</th>
		        </tr>
		    </thead>
		    <tbody id="modal-table-body">
				<tr>
					<td id="modal-seq"></td>
					<td id="modal-score-wt"></td>
					<td id="modal-score-mt"></td>
					<td id="modal-log-ratio"></td>
					<td id="modal-effect"></td>
				</tr>
		    </tbody>
	        </table>

			
	        <br>
	        <center>
	        <!-- <img src="" id="modal-logo" alt="Modal sequence logo" />  -->
	        <div id="modal-logo"></div>
	        </center>
	        

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<script>
		
		$(window).load(function() {
			$("#result-wrap").removeClass("hide");
			$("#result-loader").fadeOut("slow");
		});
		
		addLine = function(graph, x, col){
			var svg = d3.select("svg");

			var myLine = svg.append("svg:line")
			    .attr("x1", graph.x(x))
			    .attr("y1", graph.y(0))
			    .attr("x2", graph.x(x))
			    .attr("y2", graph.y(100))
			    .style("stroke", col)
			    .style("stroke-width", 2.5);
			return myLine;
		}

		var updateZoom = function(x){
			$('.intense-figure').remove();
			$('.logo').addClass('zoom');
			var elements = document.querySelectorAll( '.logo' );
			Intense( elements );

	        document.body.style.overflow = '';
		}
		

		update = function(x){
			updateZoom();
			$( ".wt-score, .mt-score" ).addClass('zoom');
			$( ".wt-score, .mt-score" ).click(function(){
				row = $(this).parents('tr');
				gene = row.find('.gene-name').text();
				mut = row.find('.mut-abbr').text();
				seq = row.find('.sequence').html();
				log = row.find('.log-ratio').text();
				eff = row.find('.effect').html();

				wt_score = +row.find('.wt-score').text();
				mt_score = +row.find('.mt-score').text();

				pwm = row.find('.seq-logo .name').text();
				pwm_img = row.find('.seq-logo .logo');
				pwm_src = pwm_img.attr('src');

				wt_dist = wt_score > mt_score ? "FG" : "BG";
				mt_dist = mt_score > wt_score ? "FG" : "BG";

				wt_perc = (+row.find('.wt-perc').text() * 100).toFixed(2);
				mt_perc = (+row.find('.mt-perc').text() * 100).toFixed(2);

				wt_score_p = wt_score + "<br>" + "<small>(" + wt_perc + "% " + wt_dist + ")</small>";
				mt_score_p = mt_score + "<br>" + "<small>(" + mt_perc + "% " + mt_dist + ")</small>";

				console.log(pwm);

				$('#modal-title').text(gene + " " + mut);

				$('#modal-seq').html(seq);
				$('#modal-score-wt').html(wt_score_p);
				$('#modal-score-mt').html(mt_score_p);
				$('#modal-log-ratio').text(log);
				$('#modal-effect').html(eff);
				
				$('#modal-logo').empty();
				pwm_img.clone().removeClass('zoom').appendTo('#modal-logo');
				
				$.getJSON('/assets/R/generate_data/density@(job.modelDataName())/'+pwm+'.json',function(data){
        
		        $('#chart').empty();
		        var graph = new Rickshaw.Graph( {
		            element: document.getElementById("chart"),
		            width: 600,
		            height: 250,
		            renderer: 'line',
		            fill: true,
		            stroke: true,
		            series: [
		              {
		                color: "#7f8c8d",
		                data: data[0],
		                name: 'Background',
		                stroke: "#000000",
		            	opacity: 0.5
		              }, {
		                color: "#2c3e50",
		                data: data[1],
		                name: 'Foreground',
		            	opacity: 0.5
		              }
		            ]
		          } );
		          graph.renderer.unstack = true;
		          graph.render();

		          var xaxes = new Rickshaw.Graph.Axis.X( {
		            graph: graph
		          } );
		          xaxes.render();

		          c = cutoffs[pwm]

		          addLine(graph, c.bg, '#2980b9');
		          addLine(graph, c.fg, '#8e44ad');
		          addLine(graph, wt_score, 'green');
		          addLine(graph, mt_score, 'red');

				  $('#chart-modal').modal();
		      
		      	});

			});//End click
			

		}

		$(document).ready(function(){
			
			
			//x = $([0]);
			
			
			// Add update callback, since data table not created here
			oTable = $('.dataTable').dataTable();
			oTable.fnSettings().aoDrawCallback.push( {
			    "fn": function( oSettings ) { console.log( 'DataTables has redrawn the table' ); update(); },
			    "sName": "user"
			} ); 
			
			/* oTable.fnSettings().aoPreDrawCallback.push( {
			    "fn": function( oSettings ) { console.log( 'Removing intense zoom listener' ); removeIntense(); },
			    "sName": "user"
			} );  */
			
			
			if($('.dataTable').length == 0){
				$('#example').dataTable( {
					"sDom": "<'row'<'.col-md-6'l><'.col-md-6'f>r>t<'row'<'.col-md-6'i><'.col-md-6'p>>",
					"sPaginationType": "bootstrap",
					"oLanguage": {"sLengthMenu": "_MENU_ records per page"}//,
					/* "fnDrawCallback": function( oSettings ) { console.log( 'DataTables has redrawn the table' ); update();  },
					"fnPreDrawCallback": function( oSettings ) { console.log( 'Predraw callback' ); alert('x'); } */
				} );
			}
			
			if($('#n_loss').length > 0) $('#loss-badge').text($('#n_loss').text());
			if($('#n_gain').length > 0) $('#gain-badge').text($('#n_gain').text());
			if($('#n_mut').length > 0) $('#mut-badge').text($('#n_mut').text());
				
			// Show only gain or only loss on click of label
			$('#gain-label').click(function(){
				$('#search-input').val('Gain').trigger('keyup.DT');
				$('#search-input').focus();
				$('#search-input').keyup();
			});
			$('#loss-label').click(function(){
				$('#search-input').val('Loss').trigger('keyup.DT');
				$('#search-input').focus();
				$('#search-input').keyup();
			});
			
			window.oTable = $('#example').dataTable();
			$('#search-input').keyup(function() { 
			    val = $('#search-input').val().toLowerCase();
			    if(val == "gain" | val == "loss"){
			    	$('#info-msg-div').show();
			    	rows = oTable.fnSettings().fnRecordsDisplay();
					$('#info-msg').text('Showing ' + rows + ' ' + val + ' events');
			    }else{
			    	$('#info-msg-div').hide();
					$('#info-msg').empty();
			    }
			});
			
			$('#search-input').keyup();
				
			$(document).keydown(function(e){
			    if (e.keyCode == 37) { 
			       console.log( "left pressed" );
			       $('.previous a').click();
			       return false;
			    }
			    if (e.keyCode == 39) { 
			       console.log( "right pressed" );
			       $('.next a').click();
			       return false;
			    }
			});

			//fnShowHide(3);

			update();
			
			//t = $($('img.logo')[0]);
			//t.parents('.seq-logo').css({"background-image":"url(/assets/images/logos_fam//MLK.png)", "background-size":"cover", "background-repeat": "no-repeat"});
			//t.wrap('<div style="width:100%; height:100%; background-image:url(/assets/images/logos_fam//MLK.png); background-size:cover; background-repeat: no-repeat"><div class="dist1"></div></div>');
			//t.wrap('<div class="logo-container"> <div class="logo-navi" style="width:100%; height:100%; background-image:url(/assets/images/logos_fam//MLK.png); background-size:cover; background-repeat: no-repeat"></div> <div class="logo-infoi"></div> </div>')
		});
		
	</script>

	<script src="/assets/jobs/@job.job_id/cutoffs.txt"></script>

}
